<footer class="py-3 bg-dark mt-3 mb-0" role="contentinfo">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <a routerLink="/home" class="nav-link px-2 text-light">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/info" class="nav-link px-2 text-light">Info</a>
        </li>
        <li class="nav-item">
            <a routerLink="/projects" class="nav-link px-2 text-light"
                >Progetti</a
            >
        </li>
    </ul>

    <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-center text-light px-3"
    >
        <div class="text-left mb-3 mb-md-0">
            <p class="mb-0">© 2024 MM, Inc</p>
        </div>

        <ul class="list-unstyled d-flex flex-md-row mb-3 mb-md-0 px-3">
            <li class="ms-3">
                <a class="link-light" href="https://github.com/Marchettoxx">
                    <img
                        class="rounded"
                        src="github-icon.png"
                        width="24"
                        height="24"
                        alt="GitHub"
                    />
                </a>
            </li>
            <li class="ms-3">
                <a
                    class="link-light"
                    href="https://www.instagram.com/marcomassagrande/"
                >
                    <img
                        class="rounded"
                        src="inst-icon.png"
                        width="24"
                        height="24"
                        alt="Instagram"
                    />
                </a>
            </li>
            <li class="ms-3">
                <a
                    class="link-light"
                    href="https://www.linkedin.com/in/marco-massagrande-001940299"
                >
                    <img
                        class="rounded"
                        src="link-icon.png"
                        width="24"
                        height="24"
                        alt="LinkedIn"
                    />
                </a>
            </li>
            <li class="ms-3">
                <a
                    class="link-light"
                    href="https://www.facebook.com/profile.php?id=100005541960660"
                >
                    <img
                        class="rounded"
                        src="facebook-icon.png"
                        width="24"
                        height="24"
                        alt="Facebook"
                    />
                </a>
            </li>
        </ul>

        <div class="text-right">
            <h6 class="mb-0">Contatti</h6>
            <ul class="nav flex-column mb-0">
                <li class="nav-item">
                    <p class="mb-0">
                        tel:
                        <a href="tel:+393774160900" class="text-light"
                            >377 416 0900</a
                        >
                    </p>
                </li>
                <li class="nav-item">
                    <p class="mb-0">
                        email:
                        <a
                            href="mailto:marco.massagrande00&#64;gmail.com"
                            class="text-light"
                            >marco.massagrande00&#64;gmail.com</a
                        >
                    </p>
                </li>
            </ul>
        </div>
    </div>
</footer>
