<div class="container mt-3">
    <div>
        <p class="fw-bolder fs-2">Progetto Portfolio</p>

        <div class="fs-5 lh-lg">
            Questo progetto rappresenta un'integrazione efficace tra Bootstrap
            <a href="https://getbootstrap.com/">
                <img
                    src="./bootstrap-solid.png"
                    width="30"
                    height="30"
                    alt="logo Bootstrap"
                />
            </a>
            e Angular
            <a href="https://angular.dev/">
                <img
                    src="./angular-solid.png"
                    width="30"
                    height="30"
                    alt="logo Angular"
                /> </a
            >, progettato per fornire una piattaforma moderna e reattiva, in
            grado di gestire chiamate API con semplicità ed efficienza. Uno
            degli aspetti centrali del progetto è l'implementazione delle
            chiamate API, che consentono all'applicazione di interagire
            dinamicamente con fonti di dati esterne. Attraverso queste chiamate,
            è possibile recuperare, inviare e aggiornare informazioni in tempo
            reale, rendendo l'applicazione particolarmente utile per contesti in
            cui la sincronizzazione dei dati è essenziale. Per quanto riguarda
            il deployment, è stato utilizzato Vercel
            <a href="https://vercel.com/">
                <img
                    src="./vercel-solid.png"
                    width="30"
                    height="30"
                    alt="logo Angular"
                /> </a
            >, una piattaforma potente e scalabile per il deployment di
            applicazioni web moderne. Grazie a Vercel, il progetto può essere
            distribuito rapidamente con un semplice flusso CI/CD (Continuous
            Integration/Continuous Deployment), assicurando che ogni
            aggiornamento venga reso disponibile online in modo immediato.
            Vercel ottimizza anche le performance del sito, fornendo caricamenti
            rapidi e una gestione efficace della cache, garantendo una fruizione
            ottimale dell’applicazione.
        </div>
    </div>
</div>
