<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="./MM-round.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-underline">
          <li class="nav-item">
            <a class="nav-link" routerLink="/info">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects">My Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
      <strong>WorkingProgress:</strong> Sito in sviluppo.
  </div>

  <div style="min-height: 100vh">
    <router-outlet></router-outlet>
  </div>

  <footer class="py-3 my-4 mb-0 bg-dark" data-bs-theme="dark">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/info" class="nav-link px-2 text-body-secondary">Info</a></li>
      <li class="nav-item"><a routerLink="/projects" class="nav-link px-2 text-body-secondary">My projects</a></li>
      <li class="nav-item"><a routerLink="/home" class="nav-link px-2 text-body-secondary">Home</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 MM, Inc</p>
  </footer>